* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    color: #000;
    background: #407189;
    margin: 0;
}

#container {
    margin: 2em auto;
    width: 740px;
    padding: 2em 4em;
    background: #f1f7dc;
}

h1, h2 {
    font-family: Arial,sans-serif;
    font-size: 3em;
    margin: 0;
		padding-bottom: 1em;
}


h2{
  font-size: 32px;
  color: #066a75;
  padding: 2px 0 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

h3{
  font-size: 20px;
  padding: 2px 0 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: left;
  padding-bottom: 30px;
}

p, li {
    font-size: 1.4em;
}

p.credit {
	font-size: 0.9em;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

/* links */

a {
    color: #1484bc;
    text-decoration: none;
}

a:hover {
    color: #407189;
    text-decoration: underline;
}


/* media queries */

@media (max-width: 800px) {
    body {
        background: #f1f7dc;
    }
    #container {
        margin: 0;
        width: 100%;
        padding: 2em;
    }
}
/* esconde as ancoras da tela */
a.links{
  display: none;
}

.content{
  width: 500px;
  min-height: 560px;
  margin: 0px auto;
  position: relative;
}


.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #ccc;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 70%;
    margin: 15px 0;
}
.field label,
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}