<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ the_title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <div id="login" align="center">
        <nav>|
            <a href="{{ url_for('index') }}">Página Inicial</a>    ||
            <a href="{{ url_for('cliente') }}">Cliente</a>    ||
            <a href="{{ url_for('formulario') }}">Formulario</a>    ||
            <a href="{{ url_for('projeto') }}">Projeto</a>    ||
            <a href="{{ url_for('manual') }}">Manual</a>    ||
	    <a href="{{ url_for('Grafico1') }}">Grafico1</a>    ||
	    <a href="{{ url_for('Grafico2') }}">Grafico2</a>    ||
	    <a href="{{ url_for('Grafico3') }}">Grafico3</a>    ||
        </nav>
    </div>
</head>
<body>
<div id="container">
  <!-- Jinja2 directives: page contents will go between them -->
  {% block body %}
  {% endblock %}
    <i>
    <h5>Projeto desenvolvido pelo aluno de Eng. Elétrica Senai Londrina Djalma Oliveira - v.016</h5>
    </i>
</div>
</body>
</html>
