{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h2>{{ the_title }}</h2>

<b><h3>Carregar o sistema</h3></b>



<div id="login" align="center">
    <form class="formulario" method="post" action="">
        <h2>Importar Dados</h2>
        <p> Dados para análise</p>

        <div class="field">
            <label for="telefone">ID_UC:</label>
        </div>
        <div><input type="text" id="txt_id_uc" name="Id_UC" placeholder="Num_UC"></div>
        <div class="field">

            <a> <label for="start">Arquivo com extenção .CSV:</label>

            <input type="date" id="start" name="trip-start"
                   value="2022-11-22"
                   min="2018-01-01" max="2022-12-31">
</a>
            <input type="file"
                    id="avatar" name="avatar"
                    accept="image/png, image/jpeg">
            <p class="credit"><input type="submit" name="acao" value="Salvar"></p>
        </div>


    </form>
</div>


{% endblock %}
