{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h2>{{ the_title }}</h2>

<!-- note how items from the "static" folder are linked -->
<img alt="Photo: Bengal Tiger" src="{{ url_for('static', filename='images/Login01.jpg') }}">
<p class="credit">Acesso ao sistema: <a href="{{ url_for('cliente') }}" target="_blank"> Login</a></p>

<div id="login">
        <form method="post" action="">
          <h2>Login</h2>
          <p>
            <label for="nome_login">Seu nome</label>
            <input id="nome_login" name="nome_login" required="required" type="text" placeholder="ex. contato@gestaodemanda.com"/>

            <label for="email_login">Seu e-mail</label>
            <input id="email_login" name="email_login" required="required" type="password" placeholder="ex. senha" />
          </p>

          <p>
            <input type="checkbox" name="manterlogado" id="manterlogado" value="" />
            <label for="manterlogado">Manter-me logado</label>
         <input type="submit" value="Logar" /></p>
          <p class="link"> Ainda não tem conta?<a href="#paracadastro">Cadastre-se</a>
          </p>
        </form>
      </div>

<p>.</p>


{% endblock %}
