{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>

<img alt="Dados da empresa" src="{{ url_for('static', filename='images/moeda01.jpg') }}">



<p>Acesso aos dados cadastrais da emrpesa.</p>


    <form class="formulario" method="post">
        <p> Preencha do formulário</p>

        <div class="field">
            <label for="nome">ID Empresa</label>
            <input type="text" id="IdEmpresa" name="nome" placeholder="Digite seu nome*" required>
        </div>

        <div class="field">
            <label for="telefone">Nome da empresa:</label>
            <input type="text" id="txtNomeEmpresa" name="telefone" placeholder="Digite nome da empresa">
        </div>

        <div class="field">
            <label for="email"> E-Mail:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
        </div>
        <div class="field radiobox">
            <span>Empresa já cadastrada ?</span>
            <input type="radio" name="novidades" id="sim" value="sim" checked><label for="sim">Sim</label>
            <input type="radio" name="novidades" id="nao" value="nao"><label for="nao">Não</label>
        </div>
        <div class="field">
            <label for="mensagem">Sua mensagem:</label>
            <textarea name="mensagem" id="mensagem" placeholder="Mensagem*" required></textarea>
        </div>

        <input type="submit" name="acao" value="Enviar">
    </form>

<p>.</p>






{% endblock %}
