{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h2>{{ the_title }}</h2>

<b><h3>Projeto do Sistema</h3></b>
<ul>

    <li>Mostrar os recursos necessários para o desenvolvimento do sistema de gestão de demanda e suas tecnologias</li>
    <li>Biografias necessárias para o desenvolvimento do sistema</li>
    <li>As etapas para o desenvolvimento do sistema nova lia pesquisar as normas da Aneel que regulamenta o setor do mercado de energia elétrica fazer cálculo da fatura do grupo a conforme determina a resolução da Aneel identificar</li>
    <li>Identificar a forma de melhorar a demanda contratada</li>
    <li>Pesquisar na biblioteca um material que fale sobre a adequação de demanda</li>
    <li>Identificar as regras para a mudança de demanda para a unidade consumidora nova lian buscar formas de identificar uma demanda fora da área econômica</li>
    <li>Demonstrar o cálculo da demanda e as suas tarifas de demanda fora da ponta e na ponta</li>
    <li>Demonstrados com projeções qual deverá ser a melhor demanda futura com previsão de alteração após 90 dias</li>
    <li>Identificar a melhor mês para ajustes da demanda considerando a sazonalidade de cada unidade consumidora nova limpa projetar uma tabela e gráfico em que mostre as ações possíveis para a fiz visualização em momento e qual a economia se aplicada haverá fazendo com os possíveis ajustes</li>
    <li>Permitir cálculo retroativo considerando a data do contrato de demanda e como projetar o futuro economia considerando a nova alteração de demanda respeitando a data de aniversário do contrato junto àquela unidade consumidora</li>
    <li>Considerar na simulação a permissão de 2 alterações de demanda no ano e a redução a qualquer momento considerando atender antecedência de 90 dias</li>
    <li>Ajustar para que permita a subir a demanda contratada até o limite da sua torre de transformação conforme detalhe técnico</li>
    <li>Identificar a necessidade de adequação de torre de transformação quando se precisar de um aumento de demanda maior do que o permitido por ações técnicas</li>
    <li>Evidenciar as faturas da iniciar as futuras Datas para se possível alteração de demanda obedecendo à normativa regulamentada pela Aneel</li>
    <li>Permitiram a geração de carta modelo da concessionária para solicitar aumento ou redução de demanda contratada nova limpo contratar um sistema</li>
    <li>Controlar no sistema o protocolo de solução de alteração de demanda</li>
    <li>Considerar no sistema o protocolo de solicitação de alteração de demanda para acompanhamento da solicitação avaliam sistema com o contendo usuário e senha de acesso para garantir confiabilidade nas informações e acesso ao sistema quantos serão inseridos nas na no gestam de demanda pelo responsável da consultoria e ou responsável designado pela empresa contratante</li>
    <li>Após a inserção dos dados será gerada uma fatura do grupo a para efeito de comparação com a fatura da concessionária</li>
    <li>Será permitido inserir valores como taxas e multas serviços etc que não fazem parte do mês tradicional, para a fatura comparada ser o mais próximo possível da fatura original calculada pela concessionária</li>
    <li>Com os dados lançados serão feitos análise com gráficos considerando os meses anteriores para se comparar e verificar a necessidade de alteração na demanda e o deslocamento da carga conforme a demanda na ponta e fora de ponta,</li>
    <li>Após gerar o gráfico de demanda e também consumo, comparando com os meses anteriores será enviado um e-mail para o gestor responsável, para conhecimento e acompanhamento da operação do sistema.</li>


</ul>





{% endblock %}
